@model IEnumerable<MvcAuth.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Statistics</h2>

<p>Statistics introduction paragraph goes here.</p>

<h3>@Html.ActionLink("Job Pay","Paystats")</h3>
<h4>PayImage</h4>
<p>Pay statistics introduction paragraph goes here.</p>

<h3>@Html.ActionLink("Trending Jobs", "TrendingJobs")</h3>
<h4>TrendingJobsImage</h4>
<p>Trending jobs statistics introduction paragraph goes here.</p>

<h3>@Html.ActionLink("Job Location", "Location")</h3>
<h4>JobLocationImage</h4>
<p>The job location statistics page helps you determine which parts of the state 
    contain the jobs you are interested in and how many of those jobs currently exist.</p>

@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Top10Pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedianPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bottom10Pay)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top10Pay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedianPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bottom10Pay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@