@model IEnumerable<MvcAuth.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Statistics</h2>

<p>The various statistic pages allow you to compare careers based on various aspects.</p>

<h3>@Html.ActionLink("Job Pay","Paystats")</h3>
<a href='<%: Url.Action("Location", "StatisticsController")%>'>
  <img src='@Url.Content("~/Content/Images/jobpay.jpg")' />
</a>
<p>The job pay chart shows average salary for three different levels of pay for a career.</p>


<h3>@Html.ActionLink("Trending Jobs", "TrendingJobs")</h3>
<a href='<%: Url.Action("Location", "StatisticsController")%>'>
  <img src='@Url.Content("~/Content/Images/trendingjob.jpg")' />
</a>
<p>Trending jobs page shows the availabilty of jobs for certain industries.</p>


<h3>@Html.ActionLink("Job Location", "Location")</h3>
<a href='<%: Url.Action("Location", "StatisticsController")%>'>
  <img src='@Url.Content("~/Content/Images/locations.jpg")' />
</a>
<p>The job location statistics page helps you determine which parts of the state 
    contain the jobs you are interested in and how many of those jobs currently exist.</p>



@*
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Top10Pay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedianPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bottom10Pay)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top10Pay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedianPay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bottom10Pay)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@