@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Location";
}
<script src="@Url.Content("~/Scripts/js/highmaps.js")"></script>
<script src="@Url.Content("~/Scripts/us-az-all.js")"></script>

<h2>Job Location Statistics</h2>

<style type='text/css'>
  container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
  }

  .loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
  }
</style>

@if (Model != null) {
<div id="container" style="min-width: 310px; max-width: 400px"></div>

  <script type="text/javascript">
    $(document).ready(function ()
    {
        var chart;
        // Prepare demo data
        //var dataString = '@ViewBag.Data';
        //dataString = $(dataString).replace(/&quot;/g, '"');
        //var data = JSON.parse(dataString);
        var data = [
            {
                "hc-key": "us-az-011",
                "value": @ViewBag.locationData["Greenlee"]
                },
          {
              "hc-key": "us-az-001",
              "value": @ViewBag.locationData["Apache"]
              },
          {
              "hc-key": "us-az-003",
              "value": @ViewBag.locationData["Cochise"]
              },
          {
              "hc-key": "us-az-012",
              "value": @ViewBag.locationData["La Paz"]
              },
          {
              "hc-key": "us-az-013",
              "value": @ViewBag.locationData["Maricopa"]
              },
          {
              "hc-key": "us-az-005",
              "value": @ViewBag.locationData["Coconino"]
              },
          {
              "hc-key": "us-az-007",
              "value": @ViewBag.locationData["Gila"]
              },
          {
              "hc-key": "us-az-021",
              "value": @ViewBag.locationData["Pinal"]
              },
          {
              "hc-key": "us-az-009",
              "value": @ViewBag.locationData["Graham"]
              },
          {
              "hc-key": "us-az-015",
              "value": @ViewBag.locationData["Mohave"]
              },
          {
              "hc-key": "us-az-017",
              "value": @ViewBag.locationData["Navajo"]
              },
          {
              "hc-key": "us-az-027",
              "value": @ViewBag.locationData["Yuma"]
              },
          {
              "hc-key": "us-az-023",
              "value": @ViewBag.locationData["Santa Cruz"]
              },
          {
              "hc-key": "us-az-025",
              "value": @ViewBag.locationData["Yavapai"]
          },
          {
            "hc-key": "us-az-019",
            "value": @ViewBag.locationData["Pima"]
          }
      ];

      // Initiate the chart
      chart = new Highcharts.Map({

        chart: {
          renderTo: 'container'
        },


        title: {
          text: 'Map of Arizona Counties'
        },


        mapNavigation: {
          enabled: true,
          buttonOptions: {
            verticalAlign: 'bottom'
          }
        },

        colorAxis: {
          min: 0
        },

        series: [{
          data: data,
          mapData: Highcharts.maps['countries/us/us-az-all'],
          joinBy: 'hc-key',
          //joinBy: 'hc-key',
          name: 'Random data',
          states: {
            hover: {
              color: '#BADA66'
            }
          },
          dataLabels: {
            enabled: true,
            format: '{point.name}'
          }
        }]
      });
    });
  </script>
}
    
<div>
    @Html.Partial("_PartialForm", new MvcAuth.Models.Job())
</div>

<br />

<p>Location description paragraph placeholder.</p>
