
@{
    ViewBag.Title = "Location";
}
<script src="@Url.Content("~/Scripts/js/highmaps.js")"></script>
<script src="@Url.Content("~/Scripts/us-az-all.js")"></script>

<h2>Location</h2>
<style type='text/css'>
  container {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
  }

  .loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
  }
</style>

<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Other Statistics <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (var job in ViewBag.statsPage)
        {
            <li>@Html.ActionLink((string)@job, (String)@job, "Statistics")</li>
        }
    </ul>
</div>


 


<div id="container" style="min-width: 310px; max-width: 400px"></div>


}
  <script type="text/javascript">
    $(document).ready(function ()
    {
      var chart;
      // Prepare demo data
      var dataString = '@ViewBag.Data';
      dataString = $(dataString).replace(/&quot;/g, '"');
      var data = JSON.parse(dataString);

      // Initiate the chart
      chart = new Highcharts.Map({

        chart: {
          renderTo: 'container'
        },


        title: {
          text: 'Highmaps basic demo'
        },


        mapNavigation: {
          enabled: true,
          buttonOptions: {
            verticalAlign: 'bottom'
          }
        },

        colorAxis: {
          min: 0
        },

        series: [{
          data: data,
          mapData: Highcharts.maps['countries/us/us-az-all'],
          joinBy: 'name',
          name: 'Random data',
          states: {
            hover: {
              color: '#BADA66'
            }
          },
          dataLabels: {
            enabled: true,
            format: '{point.name}'
          }
        }]
      });
    });
  </script>

<div>
    @Html.Partial("_PartialForm", new MvcAuth.Models.Job())
</div>


